.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://images.unsplash.com/photo-1504632236107-4ae29a44f388?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: 45px left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: -5;
}
h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: white;
}

// img {
//   height: 1000px;
//   width: 800px;
// }

#home-footer {
  display: flex;
  background-color: rgb(20, 19, 19);
  color: white;
  width: 130%;
  height: 40px;
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: -1px;
}
