.recipecard-card {
  background-color: rgba(74, 69, 80, 0.589);
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  border: 3px solid black;

  .card-text {
    text-decoration: none;
  }
  h1 {
    font-size: 40px;
    color: black;
    // font-family: 'Lato', sans-serif;
  }
}
