.recipebox-card {
  transition: 0.5s ease-in-out;
  .card-text {
    color: black;
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(117, 90, 136);
    color: white;
    transform: scale(1.1);
    .card-text {
      color: black;
      text-decoration: none;
    }
  }
  // .x-mark {
  //   color: antiquewhite;
  // }
}
