.recipebook-container {
  background-image: url('https://images.unsplash.com/photo-1507639451670-111c698d43a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=711&q=80');
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-repeat: repeat-x;

  .title {
    color: antiquewhite;
    padding-top: 30px;
  }
}

.recipe-card {
  background-color: rgb(247, 237, 225);
  border: 3px solid black;
  .card-text {
    color: black;
    text-decoration: none;
  }
}
