.singlerecipe-container {
  background-image: url('https://res.cloudinary.com/dwzd3yh9s/image/upload/v1650903310/calum-lewis-vA1L1jRTM70-unsplash_1_ugmihj.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  background-repeat: no-repeat;
}

.single-recipe-card {
  color: rgb(0, 0, 0);
  font-family: 'Lato', sans-serif;
  border: 3px solid black;
  background-color: antiquewhite;

  .card-text {
    text-decoration: none;
  }
  h1 {
    font-size: 40px;
    color: black;
  }
}
